# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
.next

# production
/build
/ts-out
ts-out
database

# misc
.DS_Store
*.pem
$RECYCLE.BIN/
Desktop.ini

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# c# backend
[Mm]igrations/

bin/
obj/
.vs/

*.csproj.user
appsettings.Development.json

.idea/
.vscode/

