.delete-btn {
  background-color: red;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 6px;
  font-size: 0.7rem;
}

.move-btn {
  background-color: #212121;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px;
  font-size: 0.7rem;
}
