@use "../mixins.scss" as *;

.car-icon {
  height: 18px;
  width: auto;

  @include mobile {
    height: 15px;
  }
}

.garage-icon {
  height: 20px;
  width: auto;

  @include mobile {
    height: 18px;
  }
}
