@use "../variables/colors" as *;
@use "../variables/text.scss" as *;
@use "../mixins.scss" as *;

p {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  margin: 0;
  letter-spacing: 0.02857em;
  word-wrap: break-word;
}

.text-primary {
  font-size: $text-primary-font-size;
  color: $text-primary;

  @include mobile {
    font-size: $text-primary-font-size-mobile;
  }
}

.text-secondary {
  font-size: $text-secondary-font-size;
  color: $text-secondary;

  @include mobile {
    font-size: $text-secondary-font-size-mobile;
  }
}

.text-title {
  font-size: $title-font-size;
  color: $text-primary;

  @include mobile {
    font-size: $title-font-size-mobile;
  }
}

.uppercase {
  text-transform: uppercase;
}
