.navBar {
  height: 3rem;
  left: 0px;
  position: sticky;
  top: 0px;
  right: 0px;
  background-color: #1c1c1d;
  color: white;
  display: flex;
}

.nav {
  margin: 0 auto;
  max-width: 1216px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}
