$input-font-size: 1.1em;
$input-font-size-mobile: 0.95em;

$title-font-size: 0.9em;
$title-font-size-mobile: 0.9em;

$text-primary-font-size: 0.8em;
$text-primary-font-size-mobile: 0.8em;

$text-secondary-font-size: 0.65em;
$text-secondary-font-size-mobile: 0.65em;

$car-count-font-size: 1em;
$car-count-font-size-mobile: 0.9em;
