.gridWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carGrid {
  width: 100%;
  max-width: 1216px;
  display: grid;
  gap: 0.5rem;
  padding: 0.5rem;
}

@media only screen and (min-width: 600px) {
  .carGrid {
    grid-template-columns: auto auto;
  }
}

@media only screen and (min-width: 1000px) {
  .carGrid {
    grid-template-columns: auto auto auto;
  }
}
